/* -------------------------------------------------- */
/* シンタックスハイライト                              */
/* -------------------------------------------------- */
.__x-syntaxhighlight-code {
    font-family: 'Consolas', monospace;
    line-height: 1.25;
}

#_chatFilterMenu {
    height: 74px !important;
}

/* -------------------------------------------------- */
/* TOリストの高さを伸ばす                              */
/* -------------------------------------------------- */
#_toList {
}
._cwLTList {
    max-height: 360px !important;
    height: 360px !important;
}

/* -------------------------------------------------- */
/* 高さを変えるやつ                                    */
/* -------------------------------------------------- */
.__x-ResizeGroupListHeight-enabled {
    .chatListPin {
    }
    .chatListPin ._pin {
    }
    .chatListTitleArea {
        float: left;
    }
    .chatListTitleArea + .incomplete {
        position: absolute;
        right: 0;
        transform: scale(0.9);
        margin-left: 10px;
        width: 100px;
        text-align: left;
    }

    #_roomListItems .roomListItem {
        height: 20px;
        min-height: 0;
        padding: 1px 0 5px 10px;
    }
    #_roomListItems .roomListItem__iconContainer {
        width: 16px;
        height: 24px;
    }
    #_roomListItems .roomListItem__iconContainer .avatarMedium {
        width: 16px;
        height: 16px;
    }

    // ルーム名とかバッジとか
    .roomListItem__roomInfo {
        width: calc(~'100% - 36px');
    }
    .roomListItem__roomName {
        display: inline;
    }
    .roomListBadges {
        position: absolute;
        right: 24px;
        top: 6px;
        transform: scale(0.8);
    }
    .roomListItem__pinContainer {
        top: 0;
    }
    .roomListItem__pin {
        transform: scale(0.8);
        margin-top: 4px;
    }

    // 未読バッジ
    .roomListBadges__unreadBadge {
        max-width: 64px; // 幅を増やす
    }
    .roomListBadges__unreadBadgeText {
        max-width: 64px; // 幅を増やす
    }
    .roomListBadges__unreadBadge--hasMemtion {
        .roomListBadges__unreadBadgeText {
            margin-right: 16px;
        }
    }
    // メンションバッジ
    .roomListBadges__unreadBadge--hasMemtion:after {
        content: "TO";
        position: absolute;
        top: -3px;
        right: -9px;
        box-sizing: border-box;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        border: 2px solid #f2f2f2;
        background-color: #00bf9b;
        color: #fff;
        text-align: center;
    }
    
    .chatListMeta {
        left: 31px;
        font-size: 0.9em;
    }
    .chatListMeta::after {
        content: '';
        display: block;
        clear: both;
    }
}

/* -------------------------------------------------- */
/* フラットスタイル                                    */
/* -------------------------------------------------- */
.__x-FlatStyle-enabled {
    /* ---- グループリスト系 ----- */

    /* ピン止め */
    ._roomLink.__x-pinnedLink:not(.roomListItem--selected)
    {
        background-color: #e8e8e8;

        &:hover {
            background-color: #f2f2f2;
        }
    }
    ._roomLink.__x-pinnedLink + ._roomLink:not(.__x-pinnedLink)
    {
      border-top: 4px solid #ccc;
    }

    .chatRoomListArea .menuListTitleSelected, .chatRoomListArea .menuListTitleSelected:hover {
        text-shadow: none;
        background-color: #98958a;
    }

    /* ---- 色オーバーライド ----- */
    .globalHeader {
        border-color: #232323;
    }
    .globalHeader:after { display: none; }

    .adminNavi,
    .helpMenu,
    .myStatusButton {
        border-right-color: transparent;
        border-left-color: transparent;
    }

    .chatFilterMenu .btnNavList li {
        min-width: 32px;
        max-width: 48px;
    }
}